/* ../styles/home.css */

.lowStockReport {
    background-color: rgb(252, 252, 252);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure relative positioning for absolute positioning of the totalItems */
  }
  
  .lowStockReport h3 {
    color: #333;
  }
  
  .lowStockReport ul {
    list-style: none;
    padding: 0;
  }
  
  .lowStockReport li {
    margin-bottom: 20px;
    border-bottom: 1px solid #888; /* Add a border to the bottom of each li */
    padding-bottom: 10px; /* Add some padding below each li */
  }
  
  .lowStockReport p {
    margin: 10px 0; /* Increased margin between key and value */
  }
  
  .generationTime {
    margin-top: 20px;
    color: #888;
  }
  
  /* Add a class for label styling */
  .label {
    font-weight: bold;
    margin-right: 5px; /* Adjust the spacing between label and value */
  }
  
  /* Style for the totalItems */
  .totalItems {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
    margin: 0;
  }
  