/* ../styles/home.css */

.lowStockReport {
    background-color: rgb(252, 252, 252);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; 
    top: 20%;
    bottom: 30%;
    margin: 40px;
    /* Ensure relative positioning for absolute positioning of the totalItems */
  }
  .stock{
    margin-bottom: 50px;
    margin-top: 60px;
  }
  .lowStockReport h2 {
    color: #191919;
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
  }
  
  .lowStockReport ul {
    list-style: none;
    padding: 0;
  }
  
  .lowStockReport li {
    margin-bottom: 20px;
    border-bottom: 1px solid #888; /* Add a border to the bottom of each li */
    padding-bottom: 10px; /* Add some padding below each li */
  }
  
  .lowStockReport p {
    margin: 10px 0; /* Increased margin between key and value */
  }
  .rephead{
    text-align: center;
    
  }
  
  .generationTime {
    margin-top: 20px;
    color: #888;
  }
  
  /* Add a class for label styling */
  .label {
    font-weight: bold;
    margin-right: 5px; /* Adjust the spacing between label and value */
  }
  
  /* Style for the totalItems */
  .totalItems {
    position: absolute;
    bottom: 3%;
    right: 3%;
    font-weight: bold;
    margin:70px;
    font-size: 20px;
  }
  